body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 200px;
}

.topnav {
    height: 144px;
}

.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
    border: none;
}

nav {
    background-color: #306b32 !important;
}

.nav > li > a {
    color: #f8f8f8 !important;
}

.back-to-top {
    position: fixed;
    top: 90%;
    left: 83%;
}

.phone-call {
    position: absolute;
    top: 100px;
    right: 5%;
}

/*.phone-call > a {
        color: #bc393f;
    }*/

@media(min-width:768px) {
    .back-to-top {
        position: fixed;
        top: 90%;
        left: 95%;
    }

        .back-to-top :hover {
            cursor: pointer;
        }

    .topnav > .container {
        background: url(https://uphinhnhanh.com/images/2017/03/28/topnav-bg.jpg) no-repeat center center;
    }

    .phone-call {
        display: none;
    }
}
