@{
    ViewBag.Title = "Đăng ký làm gia sư";
}
<style>
    select > option {
        min-height: 48px;
    }
</style>
<h2>Đăng ký thông tin làm gia sư</h2>
<hr />
<form>
    <div class="form-horizontal">
        <div class="form-group">
            <label>Họ tên:</label>
            <input type="text" name="HoTen" />
        </div>
        <div class="form-group">
            <label>Ngày sinh:</label>
            <div class='input-group date' id='datetimepicker'>
                <input type='text' class="form-control" name="NgaySinh" />
                <span class="input-group-addon">
                    <span class="fa fa-calendar"></span>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label>Giới tính:</label>
            <select name="GioiTinh" id="selectGioiTinh">
                <option></option>
                <option value="0">Nam</option>
                <option value="1">Nữ</option>
            </select>
        </div>
        <div class="form-group">
            <label>Quê quán:</label>
            <select class="js-data-example-ajax">
                <option value="3620194" selected="selected">select2/select2</option>
            </select>
        </div>
        <div class="form-group">
            <label>Địa chỉ thường trú/tạm trú hiện tại:</label>
            <input />
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/Scripts/DangKyLamGiaSu/index.js"></script>
}