@{
    ViewBag.Title = "Đăng ký làm gia sư";
}
<style>
    select > option {
        min-height: 48px;
    }
</style>
<h2>Đăng ký thông tin làm gia sư</h2>
<hr />
<form>
    <div class="form-horizontal">
        <div class="form-group">
            <label>Họ tên:</label>
            <input type="text" name="HoTen" />
        </div>
        <div class="form-group">
            <label>Ngày sinh:</label>
            <div class='input-group date' id='datetimepicker'>
                <input type='text' class="form-control" name="NgaySinh" />
                <span class="input-group-addon">
                    <span class="fa fa-calendar"></span>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label>Giới tính:</label>
            <select name="GioiTinh" id="selectGioiTinh">
                <option></option>
                <option value="0">Nam</option>
                <option value="1">Nữ</option>
            </select>
        </div>
        <div class="form-group">
            <label>Quê quán:</label>
            <select id="selectQueQuan" name="QueQuan">
                <option></option>
            </select>
        </div>
        <div class="form-group">
            <label>Địa chỉ thường trú<br />tạm trú hiện tại:</label>
            <input type="text" name="DiaChi"/>
        </div>
        <div class="form-group">
            <label>Số điện thoại:</label>
            <input name="SDT" type="tel" />
        </div>
        <div class="form-group">
            <label>Email:</label>
            <input name="Email" type="email"/>
        </div>
        <div class="form-group">
            <label>Trình độ hiện tại:</label>
            <select id="selectTrinhDo" name="TrinhDo">
                <option></option>
            </select>
            <input name="TrinhDoKhac" type="hidden" placeholder="Ví dụ: Cử nhân, Kỹ sư, Thạc sỹ,..."/>
        </div>
        <div class="form-group">
            <label>Đơn vị:</label>
            <input name="DonVi" type="text" placeholder="Ví dụ: Cử nhân, Kỹ sư, Thạc sỹ,..." />
        </div>
        <div class="form-group">
            <label>Tốt nghiệp trường:</label>
            <input name="TruongTotNghiep" type="text" />
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/Scripts/DangKyLamGiaSu/index.js"></script>
}