@using EmptyWeb.Shared
@using EmptyWeb.Models
@{
    ViewBag.Title = "Gia sư 24h";
    var top12 = ViewBag.danhSachBaiViet12 as List<BaiViet>;
    var top345 = ViewBag.danhSachBaiViet345 as List<BaiViet>;
    var recent = ViewBag.danhSachBaiVietRecent as List<BaiViet>;
}
<!-- Custom CSS -->
<link href="~/Content/css/landing-page.css" rel="stylesheet">

<!-- Header -->
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="intro-message">
                    <h1 style="text-align:center;">Hệ Thống Gia Sư 24H</h1>
                    <h3 style="text-align:center;">Uy Tín - Chất Lượng - Thành Công</h3>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons" style="text-align:center;">
                        <li>
                            <a href="/TrangChu/YeuCauTimGiaSu/" class="btn btn-info btn-lg">
                                <i class="fa fa-search fa-fw"></i> <span class="network-name">Tìm Gia Sư</span>
                            </a>
                        </li>
                        <li>
                            <a href="/TrangChu/DangKyLamGiaSu/" class="btn btn-primary btn-lg">
                                <i class="fa fa-pencil-square-o fa-fw"></i> <span class="network-name">Đăng Ký Làm Gia Sư</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-success btn-lg">
                                <i class="fa fa-list-alt fa-fw"></i> <span class="network-name">Danh Sách Lớp</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.intro-header -->
<div class="clear-header"></div>
<!-- Page Content -->
<div class="container">
    @if (top12.Count > 0)
    {
        <div class="row top12">
            @foreach (var bv in top12)
            {
                @Html.Partial("_BaiViet", bv)
            }
        </div>
        <div class="clearfix"></div>
    }
    @if (top345.Count > 0)
    {
        <div class="row top345">
            @foreach (var bv in top345)
            {
                @Html.Partial("_BaiViet", bv)
            }
        </div>
        <div class="clearfix"></div>
    }
    <div class="row" style="height:4px; background-color: #ed2e2e; margin-bottom: 20px;"></div>
    @if (recent.Count > 0)
    {
        <div class="row recent">
            @foreach (var bv in recent)
            {
                @Html.Partial("_BaiViet", bv)
                <div class="clearfix"></div>
                <hr />
            }
        </div>
    }
</div>
<!-- /.content-section-a -->
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h2>Liên hệ chúng tôi trên Facebook:</h2>
            </div>
            <div class="col-lg-4">
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://www.fb.com/HN.GiaSuSuPham/" class="btn btn-default btn-lg"><i class="fa fa-facebook-square fa-fw"></i> <span class="network-name">Trung Tâm Gia Sư 24H</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.banner -->