
<div class="dk">
    <div>
        <div class="dk-header">ĐIỀU KHOẢN & QUY ĐỊNH</div>
        <div class="dk-content">
            <ul>
                <li>Chúng tôi có thể sửa đổi các điều khoản này hoặc bất kỳ điều khoản bổ sung nào áp dụng cho một Dịch vụ, chẳng hạn như để phản ánh những thay đổi về luật hoặc những thay đổi về Dịch vụ của chúng tôi. Bạn nên thường xuyên tìm hiểu các điều khoản này. Chúng tôi sẽ đăng thông báo về các sửa đổi đối với các điều khoản này trên trang này. Chúng tôi sẽ đăng thông báo về các điều khoản bổ sung đã được sửa đổi trong Dịch vụ được áp dụng. Các thay đổi sẽ không áp dụng hồi tố và sẽ có hiệu lực không sớm hơn mười bốn ngày sau khi các thay đổi đó được đăng. Tuy nhiên, những thay đổi liên quan đến chức năng mới của Dịch vụ hoặc các thay đổi được thực hiện vì lý do pháp lý sẽ có hiệu lực ngay lập tức. Nếu bạn không đồng ý với các điều khoản sửa đổi đối với một Dịch vụ nào đó, bạn nên ngừng sử dụng Dịch vụ đó.</li>
                <li>Nếu có sự mâu thuẫn giữa các điều khoản này và các điều khoản bổ sung, thì các điều khoản bổ sung sẽ được ưu tiên áp dụng đối với trường hợp mâu thuẫn đó.</li>
                <li>Các điều khoản này chi phối mối quan hệ giữa Google và bạn. Các điều khoản này không tạo ra bất kỳ quyền thụ hưởng nào cho bên thứ ba.</li>
                <li>Nếu bạn không tuân thủ các điều khoản này và chúng tôi không hành động ngay, điều này không có nghĩa là chúng tôi đang từ bỏ bất kỳ các quyền nào mà chúng tôi có thể có (chẳng hạn như hành động trong tương lai).</li>
                <li>Nếu thực tế cho thấy một điều khoản cụ thể nào đó là không thể thực thi, điều này sẽ không làm ảnh hưởng đến bất kỳ các điều khoản nào khác.</li>
                <li>Để tìm hiểu thông tin về cách liên hệ với Google, vui lòng truy cập trang liên hệ của chúng tôi.</li>
            </ul>
        </div>
    </div>
    <div>
        <input type="checkbox" required/> Tôi đã đọc và đồng ý tuân theo điều khoản đăng ký
    </div>
</div>