html {
    overflow-y: scroll;
    height: 100%;
}

body {
    /*padding-top: 50px;*/
    /*padding-bottom: 20px;*/
    height: 100%;
    /*font-family: "Roboto", Lato, Helvetica, Arial, sans-serif;*/
    font-family: 'Quicksand', sans-serif;
}

    body.hide-scrollbar {
        padding-right: 5px;
    }

        body.hide-scrollbar::-webkit-scrollbar {
            position: relative;
            z-index: 100000;
            width: 0px;
            background-color: transparent;
        }

::-webkit-scrollbar {
    position: relative;
    z-index: 100000;
    width: 5px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #CCCDCF;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.entire-wrapper {
    min-height: 100%;
    position: relative;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 200px;
}

.topnav {
    height: 144px;
}

.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
    border: none;
}

    .navbar:not(.landing-header) {
        box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, .15);
    }

nav {
    background: #3f51b5 !important;
    font-weight: 500;
}

.navbar-nav > li > a {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
    line-height: 20px;
}

.navbar-nav > .dropdown.open > a,
.navbar-nav > .dropdown.open > a:hover,
.navbar-nav > .dropdown.open > a:focus {
    background-color: unset;
}

.navbar-nav > .dropdown.hvr-underline-from-center {
    overflow: unset;
}

    .navbar-nav > .dropdown.hvr-underline-from-center:hover > .dropdown-menu {
        display: block;
    }

nav:not(.landing-header) .hvr-underline-from-center:before {
    background: #00BCD4;
}

.navbar-nav > li > .dropdown-menu {
    /*border-top: 1*/
}

.navbar-brand {
    background: url(/Content/img/logo_512x512.png) no-repeat;
    padding: 0;
    background-size: contain;
    background-position: center;
    width: 100px;
    height: 100px;
}

.nav > li > a {
    color: #f8f8f8 !important;
}

.back-to-top {
    position: fixed;
    top: 90%;
    left: 83%;
}

.phone-call {
    position: absolute;
    top: 56px;
    right: 15px;
}

.phone-call > a {
        color: #fff;
    }

@media(min-width:768px) {
    .back-to-top {
        position: fixed;
        top: 90%;
        left: 95%;
    }

        .back-to-top :hover {
            cursor: pointer;
        }

    .phone-call {
        display: none;
    }
}

.affix-top {
    align-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.banner {
    /*position: absolute;
    bottom: 56px;
    left: 0;
    right: 0;*/
    padding: 40px 0;
    color: #f8f8f8;
    background: url(img/footer.jpg) no-repeat center center;
    background-size: cover;
}

    .banner h3 {
        margin-top: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 2em;
    }

    .banner p {
        font-weight: 400;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    }

footer {
    padding: 20px 0;
    background-color: #3D4754;
    color: #ddd;
}

    footer p {
        margin: unset;
        text-align: center;
    }

    footer .credit a:hover,
    footer .credit a:active,
    footer .credit a:focus {
        color: #ccc;
    }


#bs-example-navbar-collapse-1 > ul {
    margin: auto;
}

.select2-selection__placeholder,
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    font-size: 14px;
    font-style: italic;
    color: #aeaeae;
}

#accordion td {
    border-left: 4px solid transparent;
    border-top: none;
}

    #accordion td.active {
        border-left: 4px solid #11b6ff;
        font-weight: bold;
    }

tr.active, tr.active:hover {
    background-color: #e2e2e2 !important;
    color: white !important;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.flex-center-both {
    display: flex;
    align-items: center;
    justify-content: center;
}

.valign-middle {
    vertical-align: middle !important;
}

.text-effect-blur,
.modal-header {
    text-shadow: 0 0 1px;
}

#feedback input,
#feedback textarea {
    max-width: unset;
    border: 1px solid #ccc;
}

    #feedback input:focus,
    #feedback textarea:focus {
        border-color: #66afe9;
    }

.btn {
    font-weight: 500;
}

.position-relative {
    position: relative !important;
}

.landing-header {
    background: linear-gradient(to bottom,rgba(0,0,0,.6) 0%,transparent 100%) !important;
}
